<div class="container">
<div class="row">
    <div class="col-12 text-center">
      <header class="header">
        <h1>Group Project Submitted by: Mike, Mona and Lalit</h1>
        <img src="assets/img/home-header.jpg" class="img-fluid">
      </header>
    </div>
  </div>
  <div class="row menu">
    <div class="col-4">
      <a href="#/home">Home</a>
    </div>
    <div class="col-4">
      <a href="#/addProduct">AddProduct</a>
    </div>
    <div class="col-4">
      <a href="#/searchProduct">SearchProduct</a>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
<footer class="footer">
    <div class="container">  
    <div class="row has-text-centered">
      <div class="col-4">
          <ul>
              <li>Contact Us</li>
            </ul>
      </div>
      <div class="col-4">
          <ul>
              <li>About Us</li>
            </ul>
      </div>
      <div class="col-4">
          <ul>
              <li>Services</li>
            </ul>
      </div>
    </div>
    </div>
    </footer>
